*.o
*.nfs*
*.pyc
ttyclient
ttydevice
proto_example/add_person_python
proto_example/addressbook_pb2.py
proto_example/list_people_python
proto_example/protoc_middleman
S_job_execution
config.status*
config.log
object_*
io_src
swig
lib
lib64
lib_Linux_*
lib_Darwin_*
*.lex.c
*.tab.c
*.tab.h
*.swp
*.dox
*.pyc
.DS_Store
trick_sim/DP_Product/DP_rt_trickjobs.xml
trick_sim/DP_Product/DP_rt_userjobs.xml
trick_sim/makefile
trick_sim/build
trick_sim/trick
trick_sim/S_default.dat
trick_sim/S_main_Linux_5.4_x86_64.exe
trick_sim/S_sie.resource
trick_sim/S_source.hh
trick_sim/RUN_test/S_run_summary
trick_sim/RUN_emulator/S_run_summary
trick_sim/RUN_test/varserver_log
trick_sim/RUN_emulator/varserver_log
trick_sim/RUN_test/send_hs
trick_sim/RUN_emulator/send_hs
trick_sim/RUN_test/log_*
trick_sim/RUN_emulator/log_*
trick_sim/RUN_test/*.trk
trick_sim/RUN_emulator/*.trk
*.trk
trick_sim/RUN_test/*.csv
trick_sim/RUN_emulator/*.csv
